<html>
   <head>
      <title>Brewery Test</title>
      
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
      <h2>Brewery test</h2>
      <div ng-app = "" ng-controller = "breweryController">
			{{count}}
      </div>
      
      <script>
         function breweryController($scope,$http) {
            $http.get("http://localhost:8080/count").then( function(response) {
               $scope.count = response.data;
			   {{response.data}}
            });
         }
      </script>
      
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
      
   </body>
</html>