﻿<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="brewderApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      {{}}
      <div class="navbar navbar-default" role="navigation">
        <div class="headercontainer">
          <div class="navbar-header">
            <a href="#!/"><div id ="logo"></div></a>
            <div class="navme">
              <ul class="nav navbar-nav">
                <li><a ng-href="#!/demands">Demands</a></li>
                <li><a ng-href="#!/offers">Offers</a></li>
                <li><a ng-href="#!/login">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap-datetimepicker.min.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/offers.js"></script>
        <script src="scripts/controllers/demands.js"></script>
        <script src="scripts/controllers/location.js"></script>
        <script src="scripts/controllers/login.controller.js"></script>
		<script src="scripts/controllers/home.controller.js"></script>
		<script src="scripts/controllers/register.controller.js"></script>
		<script src="app-services/authentication.service.js"></script>
		<script src="app-services/flash.service.js"></script>
		<!-- Real user service that uses an api -->
		<!-- <script src="app-services/user.service.js"></script> -->
		<!-- Fake user service for demo that uses local storage -->
		<script src="app-services/user.service.local-storage.js"></script>
        <script src="scripts/controllers/contract.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/interaction.js"></script>
        <script src="scripts/controllers/addentry.js"></script>
        <!-- endbuild -->
</body>
</html>
