@font-face {
font-family: "IcoMoon";
src: url("/images/SFNewRepublic.ttf");
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
div.navbar.navbar-default{
  background-color: #fff;
}
h1 {
  margin-bottom: 20px;
}
.formlabel {
  width: 100px;
}
select {
  margin-right: 20px;
}
div.navbar-header {
  height: 120px;
}
div #logo{
  height: 120px;
  background-image: url("/images/brwder_white.png");
  background-repeat: no-repeat;
  background-position: 50px;
  float:left;
  width:350px;
}
div.navbar {
  border:0;
}
body {
  padding: 0;
  margin: 0px;
  font-family: IcoMoon, Arial, sans-serif;
}

div.header {
  border-bottom: 1px solid #bbb;
}
div.navme{
  position:absolute;
  bottom: 10px;
  left: 350px;
}
.container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.headercontainer{
  width:100%;
}
div.res-table{
  display: table;
  border-collapse:collapse;
  margin-top: 30px;
}
div.head-row{
  display: table-row;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}
div.res-row{
  display:table-row;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
div.res-col{
  display:table-cell;
  border:0;
  padding:5px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  vertical-align: bottom;
}

  ul.nav li {
    float: left;
    margin-left: 5px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 150px;
  }

    ul.nav li a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      padding:0;
    }

    ul.nav li.active {
      background-image: linear-gradient(to top, #505050 0%, #A0A0A0 50%);
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
}

div.navbar-header {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

div#floatignore {
  float: none;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

  .marketing p + h4 {
    margin-top: 28px;
  }

/* Responsive: Portrait tablets and up */
/*
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }*/

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}
/* Space out the masthead */
.header {
  margin-bottom: 30px;
}
/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}
