<h1>Add new {{tpe}}</h1>
<form ng-submit="submit()" ng-controller="AddentryCtrl">

<input type="hidden" ng-model="tpe" value="{{tpe}}"/>
<p><label class="formlabel">Location:</label><input type="text" ng-model="location" required minlength="2"></p>
<p><label class="formlabel">Service:</label><input type="text" ng-model="service" required minlength="2"></p>
<p><label class="formlabel">Date:</label><input type="text" ng-model="date" required></p>
<p><label class="formlabel">Capacity:</label><input type="number" ng-model="capacity" required ></p>
<p><button type="submit">Submit</button></p>
<form>
