﻿<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>

Follow Details we have from you:
Company Name: {{vm.user.company}}
<p></p>
<p></p>
Location: {{vm.user.location}}
<p></p>
Username: {{vm.user.username}}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
