<div ng-app="myApp" ng-controller="InteractionCtrl">
  <div class="res-table">
    <div class="head-row">
      <div class="res-col">
        Type
      </div>
      <div class="res-col">
        Due date
      </div>
      <div class="res-col">
        Capacity
      </div>
      <div class="res-col">
        Partner
      </div>
      <div class="res-col">
      </div>
    </div>
    <div ng-repeat="row in res" class="res-row">
      <div class="res-col">
        {{row.what}}
      </div>
      <div class="res-col">
        {{row.date}}
      </div>
      <div class="res-col">
        {{row.capacity}}
      </div>
      <div class="res-col">
        {{row.brew}}
      </div>
      <div class="res-col">
        <a href="#">Offer contract</a>
      </div>
    </div>
  </div>
</div>

</div>

<script src="interaction.js"></script>
