<div class="jumbotron">
  <h1>Welcome to brewder</h1>
  <h2>tinder. without swiping. with beer!</h2>
  <h3>We are the matchmaking plattform for brewers. </h3> <br/>
  <p class="lead">
    Got brewing resources you want to share with others? Find a Gipsy Brewer. <br/>
    Got botteling capacities you want to fill? Find a brew to fill. <br/>
    Got storage capacities you want to exchange to gain new markets? Find a partner.
  </p>
</div>
