<div ng-app="myApp" ng-controller="OffersCtrl">
  <h1>Currently available offers</h1>
  <label>Location:</label>
  <select ng-model="selectedLocationItem"
          ng-options="l as l for l in locationres">
          <option value="">all locations</option>
  </select>
  <label>Service:</label>
  <select  ng-model="selectedServiceItem"
          ng-options="s as s for s in serviceres">
          <option value="">all services</option>
  </select>
  <a href="/#!/addentry/offer">Add new offer</a>
  <div class="res-table">
    <div class="head-row">
      <div class="res-col">
        Location
      </div>
      <div class="res-col">
        Offer type
      </div>
      <div class="res-col">
        Offer due date
      </div>
      <div class="res-col">
        Offered capacity
      </div>
      <div class="res-col">
        Partner
      </div>
      <div class="res-col">
      </div>
    </div>
    <div ng-repeat="row in res | filter: filtering" class="res-row">
      <div class="res-col">
        {{row.where}}
      </div>
      <div class="res-col">
        {{row.what}}
      </div>
      <div class="res-col">
        {{row.date | date:'yyyy-MM-dd'}}
      </div>
      <div class="res-col">
        {{row.capacity}}
      </div>
      <div class="res-col">
        {{row.brew}}
      </div>
      <div class="res-col">
        <a href="#">Connect</a>
      </div>
    </div>
  </div>
</div>

</div>

<script src="offers.js"></script>
